body{
   font-family: 'Rubik', sans-serif;
}
a{
  text-decoration: none; 
}
.menu {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: flex-end;
   gap: 1rem;
   background-color: rgb(255, 255, 255);
}
.menu li{
   display: inline-block;
}
li a, .prod1 {
   display: inline-block;
   color: #38491b;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
li a:hover, .prod:hover .prod1 {
   background-color: burlywood;
}
li.prod {
   display: inline-block;
}
.submenu {
   display: none;
   position: absolute;
   background-color: #ffffff;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}
.submenu a{
   color: #38491b;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
}
.submenu a:hover {
   background-color: burlywood;
}
.prod:hover .submenu {
   display: block;
}
/*-------ACTIVAR EL BOTON DEL MOMENTO --------*/
li a:hover:not(.active) {
   background-color: burlywood;
}
.active {
   background-color: #c9c9c9;
}
.carrusel{
   width: 100%;
   height: 300px;
   justify-content: center;
}
.lineas{
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   align-content: center;
}
.lineas a{
   font-weight: bolder;
   color: #38491b;
   height: 150px;
   width: 220px;
   margin: 10px 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.LineaCapilar{
   background-image: linear-gradient(rgba(241, 234, 234, 0.363), rgba(255, 255, 255, 0.2)), url('../imagenes/capilar.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}
.LineaFacial{
   background-image:linear-gradient(rgba(241, 234, 234, 0.363), rgba(255, 255, 255, 0.2)), url('../imagenes/facial.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}
.LineaCorporal{
   background-image:linear-gradient(rgba(241, 234, 234, 0.363), rgba(255, 255, 255, 0.2)), url('../imagenes/corporal.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}
.ProductosVarios{
   background-image:linear-gradient(rgba(241, 234, 234, 0.363), rgba(255, 255, 255, 0.2)), url('../imagenes/varios.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}
.combos{
   background-image:linear-gradient(rgba(241, 234, 234, 0.363), rgba(255, 255, 255, 0.2)), url('../imagenes/kit.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

 /*transitions*/
.lineas :hover{
  transform: scale(1.15);
}
.banner{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   margin: 4% 0%;
}
.banner div {
   height: 6rem;
   width: 300px;
   margin: 5px;
   padding: 2px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.banner div p,h4{
   margin: 2% 0%;
   padding: 0%;
}
.ban1{
   border-right: 0.5px solid black;
}

.ban3{
   border-left: 0.5px solid black;
}
#menufooter ul {
   background-color:#c6d8a9;
}
.redes i{
  color: #38491b;
}

.footer{
   background-color: #c6d8a9;
   color: #38491b;
}
.footer div{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.footer p{
   background-color: #2b361a;
   color: #ffffff;
   display: flex;
   align-content: flex-end;
}

.redes{
   display: flex;
   text-align: center;
   flex-direction: row;
   flex-wrap: wrap;
}

.redes div{
   display: inline-block;
   text-align: center;
   margin: 10px;
   padding: 10px;
}

.gridindex{
   margin: 0;
   padding: 0;
   display: grid;
   grid-template-columns:1fr 1fr 1fr 1fr; 
   grid-template-rows: 105px 46px auto 80px 1fr 0.6fr 100px; 
   
   grid-template-areas: 
   "logo logo ingresar ingresar"
   "buscador buscador menu1 menu1"
   "carrusel carrusel carrusel carrusel"
   "cat cat cat cat"
   "lin lin lin lin"
   "ban ban ban ban"
   "footer footer footer footer";
}
.contenedorlogo{
   grid-area: logo;
   background-color: #c6d8a9;
   color: #38491b;
}
.logo{
   height: 105px;
   padding-left: 40px;
}
.ingresar{
   grid-area: ingresar;    
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-right: 10px;
   background-color: #c6d8a9;
}
.ingresar a{
   color: #38491b;
}
.buscador{
   grid-area: buscador;
   align-self: center;
   padding-left: 10px;
   width: 300px;
}
.bus {
   width: 100%;
   box-sizing: border-box;
   border: 0.2px solid rgb(66, 66, 66);
   border-radius: 4px;
   font-size: 15px;
   background-image: url('imagenes/buscar.png');
   background-size: 6%;
   background-position: 9px 9px;
   background-repeat: no-repeat;
   padding: 9px 20px 9px 40px;
 }
.menu1{
   grid-area: menu1;
   align-self: stretch;
}
.carrusel{
   grid-area: carrusel;
}
.categoriasprincipales{
   grid-area: cat;
   background-color: #c6d8a9;
   color: #38491b;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
}
.lineas{
   grid-area: lin;
}
.banner{
   grid-area: ban;
}
.footer{
   grid-area: footer;
   align-self: center;
}

/*------------media queris*-------------*/
@media screen and (max-width: 768px){
  .buscador{
     width: 150px;
  }
  .bus {
  background-size: 10%;
  }
 .menu {
     font-size: 16px;
     gap: 0.05rem;
 }
 .banner div {
     font-size: 14px;
     height: 4rem;
     width: 200px;
     margin: 3px;
     padding: 2px;
  }
  .footer {
     font-size: 12px; 
  }
  .redes{
     margin: 2px;
     padding: 1px;
  }
  #menufooter{
     display: none;
  }

  .gridindex{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr; 
    grid-template-rows: 105px 46px auto 80px 1fr 150px 100px; 
    grid-template-areas: 
    "logo logo ingresar ingresar"
    "buscador menu1 menu1 menu1"
    "carrusel carrusel carrusel carrusel"
    "cat cat cat cat"
    "lin lin lin lin"
    "ban ban ban ban"
    "footer footer footer footer";
 }
  .carrusel{
      width: 100%;
      height: 200px;
   }
   .categoriasprincipales{
      font-size: 20px;
   }
}

@media screen and (max-width: 500px){

  .gridindex{
    display: grid;
    grid-template-columns:155px 1fr; 
    grid-template-rows: 105px 60px 46px auto 70px 1fr 140px 100px; 
    grid-template-areas: 
    "logo logo"
    "buscador ingresar"
    "menu1 menu1"
    "carrusel  carrusel"
    "cat cat"
    "lin lin"
    "ban ban"
    "footer footer";
 }
 .buscador{
  background-size: 10%;
  padding: 22px 20px 9px 100px;
  margin: 0px 0px 0px 28px;
  }
  .bus {
   display: none;
  }
  .ingresar{   
   background-color: white;
   font-size: 14px;
   }
   .logo{
   width: 50%;
   margin: 0%;
   padding: 0%;
  }
  .contenedorlogo{
  display: flex;
  justify-content: center;
  }
  .menu {
    font-size: 14px;
    gap: 0.05rem;
   }
  .carrusel{
    width: 100%;
    height: 100%;
   }
   .lineas{
      font-size: 15px;
   }
   .categoriasprincipales{
      font-size: 16px;
   }
  .banner div {
    font-size: 12px;
    height: 1rem;
    width: 84px;
    margin: 3px;
    padding: 1rem;
   }
   .banner div p{
      display: none;
   }
   .footer {
      font-size: 13px;
   }
   #menufooter{
    display: none;
   }

}

/*------------------------QUIENES SOMOS -----------------------*/
.gridqs{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr; 
  grid-template-rows: 105px 46px 120px 300px 300px 0.6fr 100px;
  
  grid-template-areas: 
  "logo logo ingresar ingresar"
  "buscador buscador menu1 menu1"
  "in in in in"
  "tex1 tex1 tex1 tex1"
  "tex2 tex2 tex2 tex2"
  "ban ban ban ban"
  "footer footer footer footer";
}
.bus {
    background-image: url('../imagenes/buscar.png');
 }
.volverinicio{
  grid-area: in;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.volverinicio ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}
.qs{
  margin: 0%;
  padding: 0%;
}
.quienessomos{
  grid-area: tex1;
  padding: 0 50px;
}
.foto1{
  float: right;
  margin:10px;
}

.foto2{
  float: left;
  margin:10px;
}
.tex2{
  grid-area: tex2;
  padding: 0 50px;
}

/*------------media queris*-------------*/
@media screen and (max-width: 768px){

  .gridqs{
     display: grid;
     grid-template-columns:1fr 1fr 1fr 1fr; 
     grid-template-rows: 105px 46px auto 2.2fr 2.2fr 0.6fr 100px;

     grid-template-areas: 
     "logo logo ingresar ingresar"
     "buscador menu1 menu1 menu1"
     "in in in in"
     "tex1 tex1 tex1 tex1"
     "tex2 tex2 tex2 tex2"
     "ban ban ban ban"
     "footer footer footer footer";
  }

  .qs{
     font-size: 18px;
  }
  .quienessomos{
     font-size: 13px;
  }
  .foto1{
     width: 35%;
     height: 40%;
     padding: 0%;
  }
  .foto2{
     width: 35%;
     height: 40%;
     padding: 0%;
  }
  .tex2{
     font-size: 13px;
  }
}

@media screen and (max-width: 500px){

  .gridqs{
     display: grid;
     grid-template-columns:155px 1fr; 
     grid-template-rows: 105px 60px 46px auto 2fr 2fr 140px 100px; 
     grid-template-areas: 
     "logo logo"
     "buscador ingresar"
     "menu1 menu1"
     "in in"
     "tex1 tex1"
     "tex2 tex2"
     "ban ban"
     "footer footer";
  }
 .buscador{
  background-image: url('../imagenes/buscar.png');
  background-size: 10%;
  background-repeat: no-repeat;
  padding: 22px 20px 9px 100px;
  margin: 0px 0px 0px 28px;
  }
  .bus {
   display: none;
  }
  .ingresar{   
   background-color: white;
   font-size: 14px;
   }
   .logo{
   width: 50%;
   margin: 0%;
   padding: 0%;
  }
  .contenedorlogo{
  display: flex;
  justify-content: center;
  }
  .menu {
    font-size: 14px;
    gap: 0.05rem;
   }
  .banner div {
    font-size: 12px;
    height: 1rem;
    width: 84px;
    margin: 3px;
    padding: 1rem;
   }
   .banner div p{
      display: none;
   }
   .footer {
      font-size: 13px;
   }
   #menufooter{
    display: none;
   }
   .qs{
     font-size: 15px;
  }
  .quienessomos{
     font-size: 11px;
  }
  .foto1{
     width: 35%;
     height: 35%;
     padding: 0%;
  }
  .foto2{
     width: 35%;
     height: 35%;
     padding: 0%;
  }
  .tex2{
     font-size: 11px;
  }
}

/*------------------------faq -----------------------*/

.preguntas li{
  border-top: 0.1px solid rgb(45, 68, 43);
  font-weight: bolder;
  padding-top: 20px;
}
.gridfaq{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr; 
  grid-template-rows: 105px 46px auto 500px 0.6fr 100px; 
  
  grid-template-areas: 
  "logo logo ingresar ingresar"
  "buscador buscador menu1 menu1"
  "in in in in"
  "preg preg preg preg"
  "ban ban ban ban"
  "footer footer footer footer";
}
.preguntas{
  grid-area: preg;
  justify-self: center;
  align-self: center;
}
/*------------media queris*-------------*/
@media screen and (max-width: 768px){

  .gridfaq{
     display: grid;
     grid-template-columns:1fr 1fr 1fr 1fr; 
     grid-template-rows: 105px 46px auto 2.2fr 0.6fr 100px;

     grid-template-areas: 
     "logo logo ingresar ingresar"
     "buscador menu1 menu1 menu1"
     "in in in in"
     "preg preg preg preg"
     "ban ban ban ban"
     "footer footer footer footer";
  }
}

@media screen and (max-width: 500px){

  .gridfaq{
     display: grid;
     grid-template-columns:155px 1fr; 
     grid-template-rows: 105px 60px 46px auto 2fr 140px 100px; 
     grid-template-areas: 
     "logo logo"
     "buscador ingresar"
     "menu1 menu1"
     "in in"
     "preg preg"
     "ban ban"
     "footer footer";
  }
  .preguntas{
     font-size: 13px;
     margin: 6%;
  }
}

/*------------------------Contactos -----------------------*/
.gridcon{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr; 
  grid-template-rows: 105px 46px 120px 500px 0.6fr 100px;
  
  grid-template-areas: 
  "logo logo ingresar ingresar"
  "buscador buscador menu1 menu1"
  "in in in in"
  "consultas consultas consultas con"
  "ban ban ban ban"
  "footer footer footer footer";
}
.contact-form{
  grid-area: consultas;
}
.contact-info{
  grid-area: con;
}
.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: left;
}
.contact-info ul{
  list-style: none;
  padding: 0;
}
.contact-form {
  background: #c6d8a9;
  color: black;
  margin-left: 7%;
  margin-top: 2%;
}
.contact-form form label {
  display: block;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #38491b;
}
.contact-form form button {
  background: #38491b;
  border: 0;
  padding: 1em;
}
.contact-form form button:hover,
.contact-form form button:focus {
  background: #000000;
  color: rgb(182, 175, 175);
  transition: background-color 1s ease-out;
  outline: 0;
}
.contact-info {
  background: #38491b;
  color: #c6d8a9;
  margin-right: 15%;
  margin-top: 6%;
  padding: 10%;
  text-align: center;  
}

@media screen and (max-width: 768px){

  .gridcon{
     display: grid;
     grid-template-columns:1fr 1fr 1fr 1fr; 
     grid-template-rows: 105px 46px 120px 500px 250px 0.6fr 100px;
     
     grid-template-areas: 
     "logo logo ingresar ingresar"
     "buscador buscador menu1 menu1"
     "in in in in"
     "consultas consultas consultas consultas"
     "con con con con"
     "ban ban ban ban"
     "footer footer footer footer";
  }
  .contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
  }
  .contact-form {
     margin: 0% 5%;
     padding: 0%;
  }
  .contact-info {
     margin: 0% 5%;
     padding: 3%;
  }
}
@media screen and (max-width: 500px){

  .gridcon{
     display: grid;
     grid-template-columns:155px 1fr; 
     grid-template-rows: 105px 60px 46px auto 2fr 1fr 140px 100px; 
     grid-template-areas: 
     "logo logo"
     "buscador ingresar"
     "menu1 menu1"
     "in in"
     "consultas consultas"
     "con con"
     "ban ban"
     "footer footer";
  }
  .contact-info{
     font-size: 14px;
  }
  .volverinicio {
     margin: 0% 0% 2% 0%;
  }
}

/*------------------------productos -----------------------*/
.catalogo div img{
  height: 280px;
  width: 220px;
}
.catalogo div{
  margin: 15px;
}
.catalogo div :hover{
   transform: scale(1.15);
 }
.gridprod{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr; 
  grid-template-rows: 105px 46px 120px 5fr 0.6fr 100px;
  
  grid-template-areas: 
  "logo logo ingresar ingresar"
  "buscador buscador menu1 menu1"
  "in in in in"
  "cata cata cata cata"
  "ban ban ban ban"
  "footer footer footer footer";
}
.catalogo{
 grid-area: cata;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

/*------------media queris*-------------*/
@media screen and (max-width: 768px){

  .gridprod{
     display: grid;
     grid-template-columns:1fr 1fr 1fr 1fr; 
     grid-template-rows: 105px 46px auto 5fr 0.6fr 100px;

     grid-template-areas: 
     "logo logo ingresar ingresar"
     "buscador menu1 menu1 menu1"
     "in in in in"
     "cata cata cata cata"
     "ban ban ban ban"
     "footer footer footer footer";
  }
  .catalogo div img{
     height: 250px;
     width: 190px;
  }
  .catalogo div{
     margin: 13px;
  }
}

@media screen and (max-width: 500px){

  .gridprod{
     display: grid;
     grid-template-columns:155px 1fr; 
     grid-template-rows: 105px 60px 46px auto 6fr 140px 100px; 
     grid-template-areas: 
     "logo logo"
     "buscador ingresar"
     "menu1 menu1"
     "in in"
     "cata cata"
     "ban ban"
     "footer footer";
  }
  .catalogo div img{
     height: 230px;
     width: 170px;
  }
  .catalogo div{
     margin: 12px;
     font-size: 12px;
  }
}
  
