.preg {
    margin: 0% 10%;
}

.accordion-button {
    &:not(.collapsed) {
        color: white;
        background-color: $color1;
    }

    &:focus {
        border-color: $color1;
        box-shadow: 0 0 0 0.25rem rgba(39, 87, 39, 0.705);
    }
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../imagenes/flechabajo.png);
}

.accordion-body a{
    color: black;
}