.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
        margin: 1%;

        img {
            height: 20rem;
            width: 15rem;
        }
    }
}

.cantidad{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.btn-outline-success {
    color: $color2;
    border-color: $color2;
}
#bot{
    background-color: white;
    &:hover {
        background-color: beige;
     }
    i, a i {
        color:$color1;
    }
}