.volverinicio nav {
   margin: 2%;
   ol,
   h3 {
      display: flex;
      justify-content: center;
      color: $color1;
      li a {
         color: $color1;
      }
   }
}
.qs {
   margin: 0%;
   padding: 0%;
}
.quienessomos,
.tex2 {
   padding: 0 50px;
}
.foto1 {
   float: right;
}
.foto2 {
   float: left;
}
.foto1,
.foto2 {
   margin: 10px;
}

/*------------media queris*-------------*/
@media screen and (max-width: 768px) {
   .qs {
      font-size: 18px;
   }
   .quienessomos,
   .tex2 {
      font-size: 13px;
   }
   .foto1,
   .foto2 {
      width: 35%;
      height: 40%;
      padding: 0%;
   }
}

@media screen and (max-width: 500px) {

   .footer {
      font-size: 13px;
   }
   #menufooter {
      display: none;
   }
   .qs {
      font-size: 15px;
   }
   .quienessomos,
   .tex2 {
      font-size: 11px;
   }
   .foto1,
   .foto2 {
      width: 35%;
      height: 35%;
      padding: 0%;
   }
}