@import "variables";
@import "footer";
@import "quienessomos";
@import "contacto";
@import "faq";
@import "productos";

/*MIXIN*/

@mixin content($display, $flex-direction, $justify-content, $align-content)
{  display: $display;
   flex-direction: $flex-direction; 
   justify-content: $justify-content; 
   align-content: $align-content
  
}
* {
   padding: 0%;
   margin: 0%;
}

#body {
   font-family: 'Rubik', sans-serif;
}

a {
   text-decoration: none;
}

.h5 a {
   font-size: medium;
   color: $color1;
   font-weight: normal;
}

.hola {
   margin: 0%;
   padding: 0%;
}

.carrusel {
   width: 100%;
   justify-content: center;
   margin: 0% 0% 2% 0%;
}

.car {
   margin: 0%;
   padding: 0%;
}

.lineas {
   @include content(flex, row, center, center);
   /*display: flex;
   flex-direction: row;
   justify-content: center;
   align-content: center;*/
   flex-wrap: wrap;

   a {
      font-weight: bolder;
      color: $color1;
      height: 150px;
      width: 220px;
      margin: 10px 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:hover {
         transform: scale(1.15);
      }
   }
}
/*EXTEND*/
.fondo {
   background-image: linear-gradient(rgba(241, 234, 234, 0.363), rgba(255, 255, 255, 0.2));
   background-size: cover;
   background-repeat: no-repeat;
}
/*MAPA*/

$lineas:(
   Capilar: url('../imagenes/capilar.jpg'),
   Facial: url('../imagenes/facial.jpg'),
   Corporal: url('../imagenes/corporal.jpg'),
   ProductosVarios:url('../imagenes/varios.jpg'),
   Combos:url('../imagenes/kit.jpg'),

);
@each $linea, $backgrund in $lineas{
   .Linea#{$linea} {
      @extend .fondo;
      background-image: $backgrund;}
}

/*.LineaCapilar {
   background-image: linear-gradient(rgba(241, 234, 234, 0.363), rgba(255, 255, 255, 0.2)), url('../imagenes/capilar.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.LineaFacial {
   background-image: linear-gradient(rgba(241, 234, 234, 0.363), rgba(255, 255, 255, 0.2)), url('../imagenes/facial.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.LineaCorporal {
   background-image: linear-gradient(rgba(241, 234, 234, 0.363), rgba(255, 255, 255, 0.2)), url('../imagenes/corporal.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.ProductosVarios {
   background-image: linear-gradient(rgba(241, 234, 234, 0.363), rgba(255, 255, 255, 0.2)), url('../imagenes/varios.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}

.combos {
   background-image: linear-gradient(rgba(241, 234, 234, 0.363), rgba(255, 255, 255, 0.2)), url('../imagenes/kit.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}*/

.banner {
   @include content(flex, row, center, center);
   /*display: flex;
   flex-direction: row;
   justify-content: center;
   align-content: center;*/
   flex-wrap: wrap;
   margin: 4% 0%;

   div {
      height: 6rem;
      width: 300px;
      margin: 5px;
      padding: 2px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p,
      h6 {
         margin: 2% 12%;
         padding: 0%;
         display: flex;
         justify-items: center;
      }
   }
}

.ban1 {
   border-right: 0.5px solid black;
}

.ban3 {
   border-left: 0.5px solid black;
}

.logo {
   height: 105px;
   width: auto;
   padding-left: 40px;
}

.carro {
   color: $color1;
}

.nav1 {
   display: flex;
   justify-content: flex-end;
}

.categoriasprincipales {
   color: $color1;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
}

.solo500px {
   display: none;
}

.menuoff {
   display: none;
}

.navmenu {
   padding: 0% 2%;
}

/*no se si esta en algun lado*/

/*------------media queris*-------------*/
@media screen and (max-width: 768px) {

   .banner div {
      font-size: 14px;
      height: 4rem;
      width: 250px;
      margin: 3px;
      padding: 2px;
   }

   .container-redes {
      display: flex;
      align-items: center;
      justify-items: center;
      flex-wrap: wrap;
      margin: 0%;
      padding: 0;
   }

   .container-body {
      flex-wrap: wrap;
   }

   .columna1 {
      max-width: 100%;
   }

   .columna2,
   .columna3 {
      padding-top: 20px;
   }

   .menuoff {
      display: flex;
   }

   .banner {
      font-size: small;
   }
}

@media screen and (max-width: 500px) {

   .ingreso500px {
      display: none;
   }

   .solo500px {
      @include content(flex, row, center, center);
      /*display: flex;
      align-content: center;
      justify-content: center;*/
   }

   .verde {
      background-color: #c6d8a9;
   }

   .logo {
      padding: 0%;
      margin: 0%;
   }

   .banner {
      font-size: 12px;

      div {
         height: 1rem;
         width: 110px;
         margin: 1px;
         padding: 1rem;
         text-align: center;

         h6 {
            font-size: 12px;
         }

         p {
            display: none;
         }
      }
   }

   .botones {
      height: 80px;
      min-width: 350px;

      a {
         font-size: 20px;
         width: 42px;
         height: 42px;
         line-height: 42px;
      }
   }

}